@if(exams) {
    <div>
        <h1>{{ getCurrentMonthName }}</h1>
    </div>
    <table class='calendar-table' *ngIf="calendar">
        <thead>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let week of calendar | weekSpread: 7; let i = index">
                <td class="calendar-day" [ngClass]="{'past-date': day.isPastDate, 'today': day.isToday}" *ngFor="let day of week; let j = index">
                    <div class="calendar-day-header" [ngClass]="{'blue-date': day.isToday}">
                        <strong>{{day.date.getDate()}}</strong>
                        @if (day.isExamDay) {
                            <button class="btn btn-lg btn-primary btn-block w-100" type="button" (click)="showExamDetails(day)">Exam day</button>
                        }
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
}