<!-- Intro -->
<section class="intro">
  <div class="container">
    <div class="row col-rev-md ">
      <div class="col-lg-4 col-md-12">
        <div class="intro-img">
          <img src="./assets/images/home/papers.png" width="250" alt="" />
        </div>
      </div>
      <div class="col-lg-8 col-md-12 ">
        <div class="intro-content">
          <h2 class="text-primary intro-text text-lg-right">
            Better Preparation, Greater Confidence!
          </h2>
          <h2 class="text-black intro-text text-lg-right">
            One platform for all your test prep needs.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Us -->
<section class="about sec-l-padding bg-primary-light">
  <div class="container">
    <div class="row col-rev-md ">
      <div class="col-lg-8 col-md-12">
        <div class="intro-tag">
          <small class="text-primary">About Us</small>
        </div>
        <h3 class="sec-title">MyExams exists to instill confidence and reward high performance.</h3>
        <p class="sec-detail text-grey">
          We provide subject-specific mock exams created by high-scoring students of those subjects. You can now take
          your next exam with confidence, knowing that you have prepared like a boss, or you can be rewarded for
          contributing to the success of your peers!
        </p>


        <ul class="row dot-ul my-5">
          <li class="col-md-6">
            Mock exams by high scorers
          </li>
          <li class="col-md-6">Efficient Process</li>
          <li class="col-md-6">Rewards high scorers</li>
          <li class="col-md-6 ">Affordable & Reasonable</li>
        </ul>
        <div class="center-md">
          <a href="#" class="btn btn-primary hvr-grow">Sign up for free</a>
        </div>

      </div>

      <div class=" col-lg-4 col-md-12 about-img">
        <div class="center-md">
          <img src="./assets/images/home/about-img.png" alt="" class="about-img">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- How It Works -->


<section class="how-work sec-l-padding">

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">
        <div class="intro-tag">
          <small class="text-primary">How it Works?</small>
        </div>
        <h3 class="sec-title">Using MyExams is quite easy and hustle free! You just have to follow a few
          simple steps.
        </h3>

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
              aria-controls="pills-home" aria-selected="true">Provide mockup exam </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
              aria-controls="pills-profile" aria-selected="false">Request mockup Exam</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Subfooter -->