$primary: #e92c94; //#f26a1b
$primary-dark: darken($primary, 10%);
$primary-light: #fdf3fa; //#fff9f6
$primary-opc: rgba($primary, .5);
$secondary: #fba0e3; //#4b4cfb
$grey: #7b7b88;
$darkGrey: #2e2e36;

$black: #000;
$white: #fff;
$ivory: #fff9f6
