$colors: (
    primary: $primary,
    secondary: $secondary,
    primary-light: $primary-light,
    black: $black,
    white: $white,
    grey: $grey,
);

@each $name, $color in $colors {
    .bg-#{$name} {
        background-color: $color !important;
    }
}

@each $name, $color in $colors {
    .text-#{$name} {
        color: $color !important;
    }
}

.sec-l-padding {
    padding: 90px 0;
}

.font-bold {
    font-weight: 800;
}

.opc-8 {
    opacity: 0.8;
}

a {
    color: $primary;
    &:hover {
        color: darken($primary, 8%);
    }
}
